/*
* Base structure
*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    font-family:'Open Sans';
    font-style:light;
    padding-top: 50px;
}

a:link {
    color: #0095DD;
}

a:hover {
    color: #00539F;
}


/*
* Global add-ons
*/

.sub-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}


/*
* Top navigation
* Hide default border to remove 1px line.
*/

.navbar-fixed-top {
    border: 0;
}


/*
* Sidebar
*/

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
        bottom: 0;
        display: block;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        padding: 20px;
        position: fixed;
        top: 51px;
        z-index: 1000;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #0793e2;
}


/*
* Main content
*/

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

.repo-link {
    color: #777;
    padding-left: 1rem;
}

.repo-link:hover {
    cursor: pointer;
    color: #999;
}

.user-avatar {
    max-width: 100%;
    width: 60px;
}
.user-avatar-wrap {
    max-width: 90px;
}

// Prevent text from overflowing div on small screens.
.panel-body,
.panel-footer {
    word-wrap: break-word;
}


/* Issues */
.issue-assignee img {
    height: 50px;
    width: 50px;
}
.issue-label {
    background-color:grey;
    border-left-style:solid;
    margin-right:5px;
}

.repo-link {
    color: #777;
    padding-left: 1rem;
}

.repo-link:hover {
    cursor: pointer;
    color: #999;
}

.user-avatar {
    max-width: 100%;
    width: 60px;
}
.user-avatar-wrap {
    max-width: 90px;
}

/*
* Placeholder dashboard ideas
*/

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    border-radius: 50%;
    display: inline-block;
}
.vertical-center {
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
.toggle-repo:hover {
    cursor: pointer;
}
