<html ng-app='dashboardApp'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title>Firefox Test Engineering Dashboard</title>
    <meta name='description' content=''>
    <meta name='viewport' content='width=device-width'>

    <link rel='stylesheet' href='css/bootstrap.css'>
    <link rel='stylesheet' href='css/dashboard.css'>
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:Light' />

</head>
<body ng-controller='FeedController as feed'>

    <!--[if lt IE 7]>
    <p class='chromeframe'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> or <a href='http://www.google.com/chromeframe/?redirect=true'>activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div class='container-fluid'>
        <div class='row'>
            <nav class='navbar'>
                <div class='navbar-header'>
                  <button type='button' class='navbar-toggle' ng-click='menu.state = !menu.state' aria-hidden='true'>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                  </button>
                  <a class='navbar-brand' href='#'>Firefox Test Engineering Dashboard</a>
                </div>
                <navigation-menu ng-if='menu.state'></navigation-menu>
                <filter-list class='filters-mobile'></filter-list>
            </nav>

            <div class='col-sm-3 col-md-2 sidebar'>
                <div class='nav-sidebar'>
                    <navigation-menu></navigation-menu>
                </div><!-- .sidebar-nav -->

                <filter-list></filter-list>

            </div><!-- .sidebar -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->

    <div class='container col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main'>

        <div>
            <i class='fa fa-clock-o'></i>&nbsp;Updated <span am-time-ago='feed.time'></span>
        </div>

        <github-repository ng-repeat='repo in feed.repos'>
        </github-repository>


    </div> <!-- .container -->


    <!-- Libraries -->
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
    <script src='lib/bootstrap.min.js'></script>
    <script src='lib/angular.min.js'></script>
    <script src='https://use.fontawesome.com/e1862a0f00.js'></script>
    <script src='lib/modernizr-2.6.2-respond-1.1.0.min.js'></script>
    <script src='lib/moment.min.js'></script>
    <script src='lib/angular-moment.min.js'></script>

    <!-- Modules -->
    <script src='src/dashboard/dashboard.module.js'></script>

    <!-- 'DashboardApp' module artifacts -->
    <script src='src/dashboard/feed.controller.js'></script>
    <script src='src/dashboard/issuefeed.service.js'></script>
    <script src='src/dashboard/githubissue.directive.js'></script>
    <script src='src/dashboard/githubrepository.directive.js'></script>
    <script src='src/dashboard/navigationmenu.directive.js'></script>
    <script src='src/dashboard/filterlist.directive.js'></script>
    <script src='src/dashboard/pullrequests.filter.js'></script>
    <script src='src/dashboard/hasassignee.filter.js'></script>
    <script src='src/dashboard/labels.filter.js'></script>

</body>
</html>
