<ul class='nav navbar-nav'>
    <li id='nav-issues'><a href='' ng-click='pullRequestFalse()'>Issues<span class='sr-only'>(current)</span></a></li>
    <li id='nav-pullrequests'><a href='' ng-click='pullRequestTrue()'>Pull Requests</a></li>
    <li id='nav-jenkins'><a href='https://webqa-ci.mozilla.com/'>Jenkins</a></li>
    <li><a href='https://quality.mozilla.org/teams/test-engineering/'>About Firefox Test Engineering</a></li>
    <li><a href='https://wiki.mozilla.org/TestEngineering'>Wiki</a></li>
    <li id='nav-fork'><a href='https://github.com/mozilla/fxtest-dashboard'>Fork on GitHub&nbsp;<i class='fa fa-code-fork' aria-hidden='true'></i></a></li>
</ul>
