<div ng-if="repo.issues && !pullRequest || feed.hasPullRequests(repo) && pullRequest" ng-controller="RepoController as repoCtrl">
    <span>
        <h3 id="{{ repo.owner }}/{{ repo.name }}" class="repo-title">
            <span>
                <span ng-if="!repo.state" ng-click="repo.state = !repo.state" class="toggle-repo glyphicon glyphicon-triangle-bottom small" aria-hidden="true"></span>
                <span ng-if="repo.state" ng-click="repo.state = !repo.state" class="toggle-repo glyphicon glyphicon-triangle-right small" aria-hidden="true"></span>
                &nbsp;{{ repo.owner }}/{{ repo.name }}
            </span>
            <span class="badge" title="{{ repo.issues.length }} issues">
                {{ repo.issues.length }}
            </span>
            <a ng-href="https://github.com/{{ repo.owner }}/{{ repo.name }}"><i class="fa fa-github-alt repo-link" aria-hidden="true"></i></a>
        </h3>
    </span>

    <div ng-hide="repo.state" class="repo-issues-container">
        <github-issue ng-repeat="issue in repo.issues">
            {{ issue }}
        </github-issue>
    </div><!-- .repo-issues-container -->
</div><!-- .test-result -->
