<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
        <div id="dashboard" ng-init="init()">
            <div style="" id="filter_tag">
                Filters
            </div>
            <div class="filters_holder well well-small">
                <div class="filter_type">
                    <div class="controls>">
                        Is Assigned:
                        <select ng-model="hasAssignee" ng-change="showHideIssues()">
                            <option value="">All</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="filter_type">
                    <label class="control-label">Labels:</label>
                        <div class="controls">
                            <label class="form-inline"  ng-repeat="label in labels">
                                <input type="checkbox" name="selectedLabels[]" value="{{label.name}}" ng-model="label.selected" />
                                {{label.name}}&nbsp;&nbsp;&nbsp;
                            </label>
                        </div>
                </div>
            </div>
            <div>Issues last refreshed from Github on {{last_updated}}.</div>
            <div class="test-result" ng-repeat="repo in issues">
                <h3 ng-click="toggleRepo(repo)" id="{{repo.repo}}">
                  <span ng-if="repo.show">
                    <span class="glyphicon glyphicon-triangle-bottom small" aria-hidden="true"></span>&nbsp;{{repo.repo}}
                  </span>
                  <span ng-if="!repo.show">
                    <span class="glyphicon glyphicon-triangle-right small" aria-hidden="true"></span>&nbsp;{{repo.repo}}
                  </span>
                  <span class="badge" title="{{repo.issues.length}} issues">
                    {{repo.issueCount}}
                  </span>
                </h3>
                <div ng-show="repo.show">
                  <div ng-repeat="issue in repo.issues" ng-show="issue.shouldShow">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <a href="{{issue.html_url}}" target="_blank">
                          {{issue.title}}
                        </a>
                      </div>
                      <div class="panel-footer">
                        <div class="row">
                          <div class="col-md-1">
                            <span ng-if="issue.assignee.name">
                              <img padding-top="10px" class="img-rounded center-block" width="60%" height="60%" src="{{issue.assignee.avatar_url}}" alt="{{issue.assignee.name}}"></img>
                            </span>
                          </div>
                          <div class="col-md-11">
                            <p>Assigned To:
                                <span ng-if="issue.assignee.name">
                                    {{issue.assignee.name}}
                                </span>
                                <span ng-if="!issue.assignee.name">
                                    Nobody
                                </span>
                            </p>
                            <p>Last Updated: {{issue.updated_at}}</p>
                            <p ng-if="issue.body.length">
                                <span class="hyphenate">{{issue.body | limitTo:150}}</span>
                                <span ng-if="issue.body.length > 150"> ...</span>
                            </p>
                            <div ng-if="issue.labels.length" class="btn-group">
                              <span ng-repeat="label in issue.labels" class="label" style="background-color:grey; margin-right:5px;">
                                  {{label.name}}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
