<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
        <div id="dashboard" ng-init="init()">
            <div>Pull Requests last refreshed from Github on {{last_updated}}.</div>
              <div class="test-result" ng-repeat="repo in issues">
                <h3 ng-click="toggleRepo(repo)" id="{{repo.repo}}">
                  <span ng-if="repo.show">
                    <span class="glyphicon glyphicon-triangle-bottom small" aria-hidden="true"></span>&nbsp;{{repo.repo}}
                  </span>
                  <span ng-if="!repo.show">
                    <span class="glyphicon glyphicon-triangle-right small" aria-hidden="true"></span>&nbsp;{{repo.repo}}
                  </span>
                  <span class="badge" title="{{repo.issues.length}} issues">
                    {{repo.prCount}}
                  </span>
                </h3>
                <div ng-show="repo.show">
                  <div ng-repeat="issue in repo.issues" ng-show="issue.shouldShow">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <a href="{{issue.html_url}}" target="_blank">
                          {{issue.title}}
                        </a>
                      </div>
                      <div class="panel-footer">
                        <p>Assigned To:
                            <span ng-if="issue.assignee.name">
                                {{issue.assignee.name}}
                            </span>
                            <span ng-if="!issue.assignee.name">
                                Nobody
                            </span>
                        </p>
                        <p>Last Updated: {{issue.updated_at}}</p>
                        <p ng-if="issue.body.length">
                            <span class="hyphenate">{{issue.body | limitTo:150}}</span>
                            <span ng-if="issue.body.length > 150"> ...</span>
                        </p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
